<style lang="scss">
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
  }
</style>

<!-- Toolbar -->
<form [formGroup]="form">
  <h1>Cheking your password</h1>
   <inform-p  [length]="form.value.pass!.length" [check]="form.valid" />
  <div class="inputBox">
   <pass-input  style="display: contents;"  [formControlName]="'pass'"/>
   <check-line   [value]="form.value" [valid]="form.valid"  ></check-line>
  </div>
  
</form>

